/* color */
$white: #ffffff !default;
$oliva: #D6E7DA !default;
$black: #1A1A1A !default;

/* fonts */
$title: 'Yeseva One', sans-serif !default;
$text: 'Montserrat', sans-serif !default;

/* mobile menu sittings */
$mob_menu_bg: $white;


/* hamburger sittings */
$hamburger-inner-bg: $white !default;
$hamburger-hover: $white !default;

$hamburger-inner: 25px !default;
$hamburger-inner-before: 25px !default;
$hamburger-inner-after: 25px !default;
$hamburger-inner-height: 2px !default;
$hamburger-inner-top: -9px;
$hamburger-inner-bottom: -18px;
$hamburger-box-height: $hamburger-inner !default;
$hamburger-width: $hamburger-inner !default;
$hamburger-height: $hamburger-inner !default;


	