.about {
  &-header {
    max-width: 960px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 0 auto;
  }
  &-title {
    text-align: right;
    align-self: flex-end;
    margin-right: -65px;
    z-index: 2;
    text-shadow: 0 0 8px $oliva;
  }
  &-image {
    width: 350px;
    height: 500px;
    position: relative;
    z-index: 1;
    @include _respond-to(1024) {
      width: 315px;
      height: 420px;
    }
    @include _respond-to(600) {
      width: 235px;
      height: 320px;
    }
    &-wrap {
      width: 100%;
      height: 100%;
      border-radius: 0 110px 0 110px;
      overflow: hidden;
      box-shadow: 1px 1px 10px 3px rgba(0, 0, 0, .3);
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
    }
    &-mask {
      width: 100%;
      height: 100%;
      background: linear-gradient(40deg, rgba(214, 231, 218, .5) 20%, rgba(214, 231, 218, 0) 100%);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
    &:after {
      content: '';
      width: 100%;
      height: 100%;
      border: 1px solid $black;
      border-radius: 0 110px 0 110px;
      position: absolute;
      top: 15px;
      right: 15px;
      z-index: 0;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  &-content {
    padding-top: 80px;
    h2 {
      font-family: $title;
      font-size: 2vw;
      max-width: 38%;
      line-height: 1.2;
      @include _respond-to(991) {
        font-size: 20px;
      }
      @include _respond-to(991) {
        max-width: none;
      }
    }
  }
  &-grid {
    display: flex;
    flex-direction: column;
    &-text {
      width: 55%;
      margin-top: 50px;
      @include _respond-to(991) {
        width: 70%;
      }
      @include _respond-to(600) {
        margin-top: 30px;
        width: 100%;
      }
      h2 {
        margin-bottom: 30px;
      }
      p {
        font-weight: 300;
        padding: 10px 0;
        font-size: 24px;
        @include _respond-to(1400) {
          font-size: 18px;
        }
        @include _respond-to(600) {
          font-size: 16px;
          padding: 5px 0;
        }
        strong {
          font-family: $title;
        }
      }
    }
    &-left {
      padding-left: 5%;
      align-self: flex-start;
      @include _respond-to(600) {
        padding-left: 0;
        align-self: normal;
      }
    }
    &-right {
      align-self: flex-end;
      padding-right: 5%;
      @include _respond-to(600) {
        padding-right: 0;
        align-self: normal;
      }
    }
  }
}