.portfolio {
  &-header {
    width: 100%;
    max-width: 768px;
    padding: 0 15px;
    box-sizing: border-box;
    margin: 0 auto;
    padding-top: 30px;
    &-descr {
      font-weight: 300;
      font-size: 16px;
      text-align: center;
      p {
        padding: 8px 0;
      }
    }
    &-btns {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-top: 30px;
      a {
        min-width: 160px;
        margin: 0 15px;
        &:hover {
          background: transparent;
          color: $black;
        }
      }
    }
  }
  &-grid {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
    &-card {
      background: #c9dccb;
      padding: 15px;
    }
    &-item {
    }
  }
}